// 576 - 320 - smarthphone

@media (max-width: 576px) {
  .container {
    max-width: 250px;
  }
  .header {
    .header_items {
      gap: 40px;
      .header_text {
        display: none;
      }
    }
  }
  .now {
    display: none;
  }
  .info {
    .info_items {
      padding-top: 50px;
      .info_item {
        width: 250px;
        height: 250px;
        .info_text {
          padding: 30px;
        }
      }
      .info_descr {
        width: 200px;
        padding-top: 40px;
      }
    }
  }
}
